@import 'styles/colors'
@import 'styles/mixins'

.container
	z-index: 999
	position: fixed
	top: 0
	transition: transform 1s ease-out
	width: 100%

.notification
	height: 2rem
	background-color: #fff
	margin: 1rem
	padding: 1rem
	border-radius: .3rem
	display: flex
	justify-content: space-between
	align-items: center
	transition: transform .3s ease-out
	padding: 2rem

.btn
	padding: .4rem

.open
	transform: translateY(0)

.close
	transform: translateY(-100%)

.error
	color: $error-color
	border: .1rem solid $error-color

.message
	border: .1rem solid $success-color
	color: $success-color

.controls
	text-align: right
	button
		border: .1rem solid $primary-color
		border-radius: .3rem
		padding: .4rem 1rem
		background-color: $primary-light-color
		&:hover
			background-color: $secondary-light-color
			cursor: pointer
